{
    https_port 8443
}

mailyn.cn:8443 {
    @umami {
        path /script.js
        path /api/send
        path /api/collect
    }
    reverse_proxy @umami localhost:3000
    reverse_proxy localhost:8000
}
